<form *ngIf="showDefaultMessage" class="user-form-group" [formGroup]="passwordChangeForm" (ngSubmit)="passwordChangeForm.valid && onSubmit()">    
    <h4 mat-dialog-title>Change password</h4>

    <div  mat-dialog-content class="password-container" >
        <mat-form-field style="width:20em">
        <mat-label>Enter your old password</mat-label>
        <input matInput [type]="hide1 ? 'password' : 'text'" #input1 maxlength="20" formControlName="oldPassword">
        <button mat-icon-button matSuffix type="button" (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
            <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">{{input1.value.length}}/20</mat-hint>
        </mat-form-field>
    </div>
<!--         <div *ngIf="passwordChangeForm.getError('mustBeEqual') && passwordChangeForm.controls.repeatedPassword.touched" class="requisito"> the passwords must be identic </div>
 -->
    <div mat-dialog-content *ngIf="errorMessageHandler">
        Incorrect password
    </div>
    <div class="password-container">
        <mat-form-field style="width:20em">
        <mat-label>Enter your new password</mat-label>
        <input matInput [type]="hide2 ? 'password' : 'text'" #input2 maxlength="20" formControlName="newPassword">
        <button mat-icon-button matSuffix type="button" (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
            <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">{{input2.value.length}}/20</mat-hint>
        </mat-form-field>
    </div>

    <div class="password-container">
        <mat-form-field style="width:20em">
        <mat-label>Repeat your new password</mat-label>
        <input matInput [type]="hide3 ? 'password' : 'text' " #input3 maxlength="20" formControlName="repeatedPassword">
        <button mat-icon-button matSuffix type="button" (click)="hide3 = !hide3" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide3">
            <mat-icon>{{hide3 ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-hint align="end">{{input3.value.length}}/20</mat-hint>
        </mat-form-field>
    </div>
    <div *ngIf="passwordChangeForm.getError('mustBeEqual') && passwordChangeForm.controls.repeatedPassword.touched" class="requisito"> the passwords must be identic </div>

    <button button mat-raised-button type="submit" style="background-color:var(--primary-bg-color); color:white" >Submit</button>
</form>

<div mat-dialog-content *ngIf="!showDefaultMessage">
    Your password has been succesfully changed.
    <button mat-button mat-dialog-close (click)="closeDialog()">Ok</button>
</div>


<!-- {{this.passwordChangeForm.invalid}} -->