<h4 mat-dialog-title>Save changes</h4>

<div mat-dialog-content *ngIf="!showDefaultMessage">
  Your profile has been succesfully updated.
  <button mat-button mat-dialog-close (click)="showDefaultMessageOff()">Ok</button>
</div>

<div mat-dialog-content *ngIf="showDefaultMessage"  >
  You have made some changes. Do you want to save changes ?
</div>
<div mat-dialog-actions *ngIf="showDefaultMessage">
   <button mat-button style="background-color:var(--primary-bg-color)" (click)="confirmationUpdate()">Yes</button>
   <button mat-button mat-dialog-close>No</button>
 
</div>


