.spacer {
    flex: 1 1 auto;
  }
.mat-toolbar.mat-primary {
    --mat-toolbar-container-background-color: #82B8B1;
    --mat-toolbar-container-text-color: white;
    height: 80px;
}
.logo-img {
  height: 50px;
  margin-right: 10px;
  align-items: center;
}

.mat-toolbar {
  text-align: center;
}

.header-logo {
  height: 40px;
  margin-right: 10px;
  align-items: center;
}

.navigation-menu {
  background-color: #82B8B1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  z-index: 2000;
  padding: 25px;
  transition: linear 1s;
}

.onOpen {
  left: 0;
}

.navigation-close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

.navigation-title {
  font-weight: 600;
  font-size: 20px;
  margin-top: 50px;
  text-decoration: underline;
}

.navigation-list {
  list-style-type: none;
  text-align: left;
  padding: 0;
}

.navigation-link {
  margin-bottom: 15px;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.navigation-link:hover {
  color: grey;
}

.profil-picture {
  height: 36px;
  width: 36px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.darkerBackground {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
  opacity: .5;
  z-index: 1500;
  transition: .25s linear .5s
}
