<header class="nav-bar-container" id="header">
    <mat-toolbar color="primary">
        <button mat-icon-button class="menu-icon" aria-label="icon-button">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer">
            <img src="../../assets/airventure.svg" alt="Logo airventure" class="logo2">
        </span>
        <button mat-icon-button class="favorite-icon" aria-label="icon-button">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="share-icon" aria-label="share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</header>
