<div class="filter-container">
    <span>Filter:</span>

    <input type="radio" name="filter" value="all" [(ngModel)]="selectedRadioButtonValue"
        (change)="onRadioButtonSelectionChanged()" />
    <span>{{ 'Tout('+all+')' }}</span>

    <input type="radio" name="filter" value="france" [(ngModel)]="selectedRadioButtonValue"
        (change)="onRadioButtonSelectionChanged()" />
    <span>{{ 'France('+france+')' }}</span>

    <input type="radio" name="filter" value="outFrance" [(ngModel)]="selectedRadioButtonValue"
        (change)="onRadioButtonSelectionChanged()" />
    <span>{{ 'Hors de France('+outFrance+')' }}</span>
</div>