.filter-container {
  display: flex;
  align-items: center;
  font-family: Arial, sans-serif;
  margin-bottom: 2rem;
}

.radio-container {
  display: flex;
  align-items: center;
  margin-right: 10px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  width: 20px;
  height: 20px;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 5px;
}

.radio-container input:checked ~ .checkmark {
  background-color: #90b6b1;
}

.checkmark:after {
  content: "";
  display: none;
}

.radio-container input:checked ~ .checkmark:after {
  display: block;
}
