.info-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 5%;
  > span > input {
    width: 100%;
  }
}

.button-custom {
  color: white;
  width: 250px;
}

.button-next {
  display: flex;
  justify-content: end;
}

.button-place {
  display: flex;
  justify-content: space-between;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 5%;
}

.first-block {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 5%;
  > span > input {
    width: 100%;
  }
}

.input-card {
  margin-bottom: 4%;
}

.first-block-input {
  width: 100%;
  margin-bottom: 5px;
}

.second-block {
  display: flex;
  > span > input {
    width: 100%;
  }
}

.cvc-width {
  width: 50%;
}

.date-width {
  display: flex;
  width: 50%;
  justify-content: end;
}

.block-summary {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

img {
  width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.block-activity {
  display: flex;
  flex-direction: column;
}

.block-reservation {
  display: flex;
  flex-direction: column;
}

.reservation-details {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
