<section class="">
  <div class="">
    <h1 class="title">Reservation payment</h1>
    <mat-stepper orientation="horizontal" [linear]="" #stepper>
      <!-- Recap commande -->
      <mat-step>
        <form class="form-container">
          <ng-template matStepLabel>Order summary </ng-template>
          <div class="block-summary">
            <img src="../../../assets/photo/parachute.jpeg" alt="parachute" />
            <div class="block-activity">
              <div class="info">
                <span> activity Name </span>
              </div>
              <p-divider class="divider"></p-divider>
              <div class="info">
                <span> localisation </span>
              </div>
              <p-divider></p-divider>
              <div class="info">
                <span> price </span>
              </div>
            </div>
            <div
              class="block-reservation"
              *ngIf="reservations && reservations.length > 0"
            >
              <p-divider align="center"><b>Details</b></p-divider>

              <div
                class="reservation-details"
                *ngFor="let reservation of reservations"
              >
                <div class="info">
                  <!--<span>Date</span>-->
                  <i class="pi pi-calendar"></i>
                  <span>{{
                    reservation.reservationDate | date : "dd/MM/yyyy"
                  }}</span>
                </div>
                <p-divider></p-divider>
                <div class="info">
                  <!--<span>Heure</span>-->
                  <i class="pi pi-clock"></i>
                  <span>{{
                    reservation.reservationDate | date : "HH:mm"
                  }}</span>
                </div>
                <p-divider></p-divider>
                <div class="info">
                  <!--<span>Participants</span>-->
                  <i class="pi pi-user"></i>
                  <span>
                    {{ reservation.numberOfParticipants }}
                  </span>
                </div>
                <p-divider></p-divider>
                <div class="info">
                  <!--<span>Total</span>-->
                  <i class="pi pi-money-bill"></i>
                  <span> {{ reservation.reservationPrice }} €</span>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="button-next">
          <button
            mat-flat-button
            color="primary"
            class="button-custom"
            matStepperNext
          >
            Next
          </button>
        </div>
      </mat-step>
      <!-- Info perso -->
      <mat-step>
        <form>
          <ng-template matStepLabel>Personal informations</ng-template>
          <div class="info-block">
            <span class="p-float-label input-card">
              <input pInputText />
              <label htmlFor="Firs-Name">First-Name</label>
            </span>

            <span class="p-float-label input-card">
              <input pInputText />
              <label htmlFor="Last-Name">Last-Name</label>
            </span>
            <span class="p-float-label">
              <input pInputText />
              <label htmlFor="Phone">Phone</label>
            </span>
            <span class="p-float-label">
              <input pInputText />
              <label htmlFor="email">email</label>
            </span>
          </div>
          <div class="button-place">
            <button
              mat-flat-button
              color="primary"
              class="button-custom"
              matStepperPrevious
            >
              Previous
            </button>
            <button
              mat-flat-button
              color="primary"
              class="button-custom"
              matStepperNext
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <!-- Payement -->
      <mat-step>
        <form>
          <ng-template matStepLabel>Payement</ng-template>
          <div class="card-container">
            <div class="first-block">
              <span class="p-float-label input-card">
                <input pInputText />
                <label htmlFor="number">number</label>
              </span>
              <span class="p-float-label input-card">
                <input pInputText />
                <label htmlFor="Cardholder name">Cardholder name</label>
              </span>
            </div>
            <div class="second-block">
              <span class="p-float-label cvc-width">
                <input pInputText />
                <label htmlFor="CVC">CVC</label>
              </span>
              <p-calendar
                appendTo="body"
                class="date-width"
                [iconDisplay]="'input'"
                [showIcon]="true"
              ></p-calendar>
            </div>
          </div>

          <div class="button-place">
            <button
              mat-flat-button
              color="primary"
              class="button-custom"
              matStepperPrevious
            >
              Previous
            </button>
            <button
              mat-flat-button
              color="primary"
              class="button-custom"
              matStepperNext
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>

      <!-- Confirmation -->
      <mat-step>
        <form action="">
          <ng-template matStepLabel>Confirmation</ng-template>
          <h2>Summary</h2>
          <div class="">
            <p>nom activité</p>
            <p></p>
          </div>
          <div class=""></div>
          <div class=""></div>
          <div class="button-place">
            <button
              mat-flat-button
              color="primary"
              class="button-custom"
              matStepperPrevious
            >
              Previous
            </button>
            <button
              mat-flat-button
              color="primary"
              class="button-custom"
              matStepperNext
            >
              Confirm
            </button>
          </div>
        </form>
      </mat-step>
    </mat-stepper>
  </div>
</section>
