.avatar-form-container {
    display: flex;
    justify-content:space-around;
    flex-direction: row;   
}

.delete-account-container {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 8em; 
}

.primary-color-button{
    background-color: var(--primary-bg-color);
    color: blue;
}
.mat-mdc-button:not(:disabled) {
    color: rgb(255, 255, 255);
    }

.avatar-component-div{
    width: 30%;
}

.form-component-div {
    width: 40%;
}

.delete-account-container {
    width: 20%;
}

