.main-and-exp-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-container {
    display: flex;
    justify-content:space-around;
    flex-direction: row;   
    flex-wrap: wrap;
    width: 100%;
}

.delete-account-container {
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 8em; 
}

.primary-color-button{
    background-color: var(--primary-bg-color);
    color: blue;
}

.mat-mdc-button:not(:disabled) {
    color: rgb(255, 255, 255);
}

.avatar-component-div{
    width: 30%;
}

.form-component-div {
    width: 40%;
}

.delete-account-container {
    width: 20%;
}

.expericences-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 80%;
    margin-left: 7.4em; 
}

.button-experiences {
    max-width: 10em;
}

.reservations-container{
    display: flex;
}

