<div class="nav-bar-container">
    <mat-toolbar color="primary">
        <button mat-icon-button class="menu-icon" aria-label="icon-button">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer">
            <a routerLink="/home" class="logo-link">
                <img src="../../../assets/airventure.svg" alt="Logo airventure" class="logo2">
            </a>
        </span>
        <button mat-icon-button class="favorite-icon" aria-label="icon-button">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="share-icon" aria-label="share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</div>