<div class="filter-container">

    <label class="radio-container">
        <input type="radio" name="filter" value="all" [(ngModel)]="selectedRadioButtonValue"
            (change)="onRadioButtonSelectionChanged()" />
        <span class="checkmark"></span>
        <span>{{ 'Tout('+all+')' }}</span>
    </label>

    <label class="radio-container">
        <input type="radio" name="filter" value="Europe" [(ngModel)]="selectedRadioButtonValue"
            (change)="onRadioButtonSelectionChanged()" />
        <span class="checkmark"></span>
        <span>{{ 'Europe('+Europe+')' }}</span>
    </label>

    <label class="radio-container">
        <input type="radio" name="filter" value="ameriquedunord" [(ngModel)]="selectedRadioButtonValue"
            (change)="onRadioButtonSelectionChanged()" />
        <span class="checkmark"></span>
        <span>{{ 'Amérique du Nord('+Ameriquedunord+')' }}</span>
    </label>

    <label class="radio-container">
        <input type="radio" name="filter" value="ameriquedusud" [(ngModel)]="selectedRadioButtonValue"
            (change)="onRadioButtonSelectionChanged()" />
        <span class="checkmark"></span>
        <span>{{ 'Amérique du Sud('+Ameriquedusud+')' }}</span>
    </label>

    <label class="radio-container">
        <input type="radio" name="filter" value="Afrique" [(ngModel)]="selectedRadioButtonValue"
            (change)="onRadioButtonSelectionChanged()" />
        <span class="checkmark"></span>
        <span>{{ 'Afrique('+Afrique+')' }}</span>
    </label>

    <label class="radio-container">
        <input type="radio" name="filter" value="Asie" [(ngModel)]="selectedRadioButtonValue"
            (change)="onRadioButtonSelectionChanged()" />
        <span class="checkmark"></span>
        <span>{{ 'Asie('+Asie+')' }}</span>
    </label>
</div>