<div class="filter-container">

    <label class="radio-container">
        <input type="radio" name="filter" value="all" [(ngModel)]="selectedRadioButtonValue"
            (change)="onRadioButtonSelectionChanged()" />
        <span class="checkmark"></span>
        <span>{{ 'Tout('+all+')' }}</span>
    </label>

    <label class="radio-container">
        <input type="radio" name="filter" value="france" [(ngModel)]="selectedRadioButtonValue"
            (change)="onRadioButtonSelectionChanged()" />
        <span class="checkmark"></span>
        <span>{{ 'France('+france+')' }}</span>
    </label>

    <label class="radio-container">
        <input type="radio" name="filter" value="outFrance" [(ngModel)]="selectedRadioButtonValue"
            (change)="onRadioButtonSelectionChanged()" />
        <span class="checkmark"></span>
        <span>{{ 'Hors de France('+outFrance+')' }}</span>
    </label>

    <label class="radio-container">
        <input type="radio" name="filter" value="canada" [(ngModel)]="selectedRadioButtonValue"
            (change)="onRadioButtonSelectionChanged()" />
        <span class="checkmark"></span>
        <span>{{ 'Canada('+canada+')' }}</span>
    </label>
</div>