.user-full-form{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.account-form-title {
    color: var(--primary-bg-color);
    text-decoration: underline;
    text-underline-offset: 1em;
}

.user-form-group{
    margin: auto;
    max-width:20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.mat-button {
    background-color: var(--primary-bg-color);
}

