<form class="activity-form" (ngSubmit)="onSubmitActivityCreation()" [formGroup]="activityCreationForm" #activityCreation="ngForm">
  <app-activity-picture-upload-input (dataChange)="onFileUpload($event)" [isFormSubmitted]="activityCreation.submitted"></app-activity-picture-upload-input>

  <div class="info-inputs-container">
    <div>
      <mat-form-field appearance="outline" class="form-input">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Activity name" formControlName="name">
      </mat-form-field>
      <div *ngIf="activityCreation.submitted && activityCreationForm.controls.name.errors" class="formErrors">
        <span *ngIf="activityCreationForm.controls.name.errors?.['required']">Please enter a name for your activity</span>
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline" class="form-input">
        <mat-label>Description</mat-label>
        <input matInput placeholder="Activity description" formControlName="description">
      </mat-form-field>
      <div *ngIf="activityCreation.submitted && activityCreationForm.controls.description.errors" class="formErrors">
        <span *ngIf="activityCreationForm.controls.description.errors?.['required']">Please enter a description for your activity</span>
      </div>
    </div>

    <div class="same-line-inputs">
      <div class="same-line-container">
        <mat-form-field appearance="outline" class="form-input">
          <mat-label>Location</mat-label>
          <input matInput placeholder="Activity location" formControlName="location">
        </mat-form-field>
        <div *ngIf="activityCreation.submitted && activityCreationForm.controls.location.errors" class="formErrors">
          <span *ngIf="activityCreationForm.controls.location.errors?.['required']">Please enter a location for your activity</span>
        </div>
      </div>

      <div class="same-line-container">
        <mat-form-field appearance="outline" class="form-input">
          <mat-label>Duration (in hours)</mat-label>
          <input matInput placeholder="Activity duration" formControlName="duration">
        </mat-form-field>
        <div *ngIf="activityCreation.submitted && activityCreationForm.controls.duration.errors" class="formErrors">
          <span *ngIf="activityCreationForm.controls.duration.errors?.['required']">Please enter a duration for your activity</span>
          <span *ngIf="activityCreationForm.controls.duration.errors?.['pattern']">Please enter only numbers</span>
        </div>
      </div>
    </div>

    <div>
      <mat-form-field appearance="outline" class="form-input">
        <mat-label>Price (in euros)</mat-label>
        <input matInput placeholder="Activity price" formControlName="price">
      </mat-form-field>
      <div *ngIf="activityCreation.submitted && activityCreationForm.controls.price.errors" class="formErrors">
        <span *ngIf="activityCreationForm.controls.price.errors?.['required']">Please enter a price for your activity</span>
        <span *ngIf="activityCreationForm.controls.price.errors?.['pattern']">Please enter only numbers</span>
      </div>
    </div>
  </div>

  <button type="submit" mat-raised-button class="form-button">CREATE YOUR ACTIVITY</button>
</form>
