<form class="activity-form">
  <app-activity-picture-upload-input></app-activity-picture-upload-input>

  <div class="info-inputs-container">
    <mat-form-field appearance="outline" class="form-input">
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" class="form-input">
      <mat-label>Description</mat-label>
      <input matInput>
    </mat-form-field>

    <div class="same-line-inputs">
      <mat-form-field appearance="outline" class="form-input small-input">
        <mat-label>Location</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="outline" class="form-input small-input">
        <mat-label>Duration</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="form-input">
      <mat-label>Price</mat-label>
      <input matInput>
    </mat-form-field>
  </div>

  <button type="submit" mat-raised-button class="form-button">CREATE YOUR ACTIVITY</button>
</form>
