.activity {
  margin: 50px 5% 0 5%
}

.activity-container {
  display: flex;
  justify-content: space-between;
}

app-activity-creation-form {
  width: 45%;
}

.background-container {
  width: 45%;
  text-align: center;
}
