<main class="loginPage">
  <div class="leftContainer">
    <div class="brand">
      <img src="../../../assets/logo.png" alt="Logo de l'appplication" class="brandLogo" />
      <p class="brandName">AirVenture</p>
    </div>

    <img src="../../../assets/login_background.png" alt="Dessin de 2 personnes assises sur un scooter" class="pageBackground" />
  </div>


  <div class="rightContainer">
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
      <mat-tab label="LOGIN">
        <form class="loginForm" (ngSubmit)="onSubmitLogin()" [formGroup]="loginForm" #login="ngForm">
          <div class="formField">
            <mat-form-field appearance="outline" class="formInput">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Placeholder" formControlName="email">
            </mat-form-field>
            <div *ngIf="login.submitted && loginForm.controls.email.errors" class="formErrors">
              <span *ngIf="loginForm.controls.email.errors?.['required']">Please enter your email</span>
              <span *ngIf="loginForm.controls.email.errors?.['email']">Please enter a valid email</span>
            </div>
          </div>

          <div class="formField">
            <mat-form-field appearance="outline" class="formInput">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Placeholder" formControlName="password">
            </mat-form-field>
            <div *ngIf="login.submitted && loginForm.controls.password.errors" class="formErrors">
              <span *ngIf="loginForm.controls.password.errors?.['required']">Please enter your password</span>
            </div>
          </div>

          <mat-checkbox color="primary" class="loginCheck">Remember me ?</mat-checkbox>

          <div class="manageAccountContainer">
            <a href="/" class="manageAccountLink">Forgot password?</a>
            <a href="/" class="manageAccountLink">Create an account</a>
          </div>

          <button mat-raised-button class="formButton">LOGIN</button>
        </form>
      </mat-tab>


      <mat-tab label="SIGN UP">
        <form class="loginForm" (ngSubmit)="onSubmitSignup()" [formGroup]="signupForm" #signup="ngForm">
          <span class="loginInvitation">Get started for free</span>

          <div class="signupNameContainer formInput">
            <div class="formField">
              <mat-form-field appearance="outline" class="formInput nameField">
                <mat-label>First Name</mat-label>
                <input matInput placeholder="Placeholder" formControlName="firstName">
              </mat-form-field>
              <div *ngIf="signup.submitted && signupForm.controls.firstName.errors" class="formErrors">
                <span *ngIf="signupForm.controls.firstName.errors?.['required']">Please enter your first name</span>
              </div>
            </div>

            <div class="formField">
              <mat-form-field appearance="outline" class="formInput nameField">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Placeholder" formControlName="lastName">
              </mat-form-field>
              <div *ngIf="signup.submitted && signupForm.controls.lastName.errors" class="formErrors">
                <span *ngIf="signupForm.controls.lastName.errors?.['required']">Please enter your last name</span>
              </div>
            </div>
          </div>

          <div class="formField">
            <mat-form-field appearance="outline" class="formInput">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Placeholder" formControlName="email">
            </mat-form-field>
            <div *ngIf="signup.submitted && signupForm.controls.email.errors" class="formErrors">
              <span *ngIf="signupForm.controls.email.errors?.['required']">Please enter your email</span>
              <span *ngIf="signupForm.controls.email.errors?.['email']">Please enter a valid email</span>
            </div>
          </div>

          <div class="formField">
            <mat-form-field appearance="outline" class="formInput">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Placeholder" formControlName="password">
            </mat-form-field>
            <div *ngIf="signup.submitted && signupForm.controls.password.errors" class="formErrors">
              <span *ngIf="signupForm.controls.password.errors?.['required']">Please enter your password</span>
            </div>
          </div>

          <div class="formField">
            <mat-form-field class="formInput">
              <mat-label>Select an account type</mat-label>
              <mat-select formControlName="accountType">
                <mat-option value="basic">Particular</mat-option>
                <mat-option value="business">Business</mat-option>
              </mat-select>
            </mat-form-field>
            <div *ngIf="signup.submitted && signupForm.controls.accountType.errors" class="formErrors">
              <span *ngIf="signupForm.controls.accountType.errors?.['required']">Please enter your account type</span>
            </div>
          </div>

          <!--<div class="formField">
            <mat-form-field class="formInput">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>-->

          <button mat-raised-button class="formButton">SIGN UP</button>
        </form>
      </mat-tab>
    </mat-tab-group>
  </div>
</main>
