
<div class="user-full-form">
  <h4><span class="account-form-title">YOUR ACCOUNT</span></h4>

  <p>click on the field for update</p>


  <form class="user-form-group" [formGroup]="editUserForm" (ngSubmit)="editUserForm.valid && onSubmit()"> 
   
    <div class="formInputContainer">
      <mat-form-field hintLabel="Max 20 characters" style="width:20em">
      <mat-label>Enter your first name(s)</mat-label>
      <input matInput #input placeholder="First Name" maxlength="20" formControlName="firstName">
      <mat-hint align="end">{{input.value.length}}/20</mat-hint>
      </mat-form-field>
    </div>   
    
    <div class="formInputContainer">
      <mat-form-field hintLabel="Max 20 characters" style="width:20em">
      <mat-label>Enter your last name(s)</mat-label>
      <input matInput #input placeholder="Last Name" maxlength="20" formControlName="lastName">
      <mat-hint align="end">{{input.value.length}}/20</mat-hint>
      </mat-form-field>
    </div>
        
    <div class="formInputContainer">
      <mat-form-field style="width:20em">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required>
      </mat-form-field>
    </div>

    <button button mat-raised-button="submit" style="background-color:var(--primary-bg-color); color:white">Save changes</button>
    <button button mat-raised-button type="button" style="background-color:var(--primary-bg-color); color:white" (click)="openChangePasswordDialog()">Change Password</button>

  </form>

<!-- is dirty ? {{editUserForm.dirty}}
is valid ? {{editUserForm.valid}} -->
</div>