<div id="faq" class="faq-body">
    <div class="faq-header">
        <h3 class="faq-title">FAQ's</h3>
        <div class="seperator"></div>
    </div>
    <div class="faq-list">
        <div>
            <details open>
                <summary>Quels types d'expériences puis-je trouver sur
                    cette plateforme ?</summary>
                <p class="faq-content">Sur notre plateforme, nous proposons une grande variété d'expériences
                    uniques, allant des visites
                    culturelles
                    et des excursions en plein air aux cours de cuisine et aux ateliers d'art.</p>
            </details>
        </div>
        <div>
            <details>
                <summary>Comment puis-je réserver une expérience
                    ?</summary>
                <p class="faq-content">Pour réserver une expérience, il vous suffit de parcourir notre sélection
                    d'activités, de choisir celle
                    qui
                    vous intéresse et de suivre les étapes pour finaliser la réservation en ligne. C'est rapide et
                    facile.</p>
            </details>
        </div>
        <div>
            <details>
                <summary>Que se passe-t-il après avoir effectué une réservation
                    ?</summary>
                <p class="faq-content">Après avoir effectué une réservation, vous recevrez une confirmation par
                    e-mail avec tous les détails de
                    l'expérience, y compris l'emplacement, l'heure de début et toute autre information pertinente
                    fournie
                    par l'hôte.</p>
            </details>
        </div>
        <div>
            <details>
                <summary>Comment puis-je réserver une expérience ?</summary>
                <p class="faq-content">Pour réserver une expérience, il vous suffit de parcourir notre sélection
                    d'activités, de choisir celle
                    qui
                    vous intéresse et de suivre les étapes pour finaliser la réservation en ligne. C'est rapide et
                    facile.</p>
            </details>
        </div>
        <div>
            <details>
                <summary>Que se
                    passe-t-il si l'expérience est annulée par l'hôte ?</summary>
                <p class="faq-content">Dans le cas rare où une expérience est annulée par l'hôte, nous vous
                    proposerons des options alternatives
                    ou vous fournirons un remboursement intégral de votre réservation, selon vos préférences.</p>
            </details>
        </div>
        <div>
            <details>
                <summary>Comment puis-je laisser un avis
                    sur une expérience ?</summary>
                <p class="faq-content">Après avoir participé à une expérience, vous recevrez un e-mail avec un lien
                    pour laisser un avis sur
                    votre expérience. Votre opinion est importante pour nous et pour les autres utilisateurs, alors
                    n'hésitez pas à partager vos commentaires et vos notes.</p>
            </details>
        </div>
        <div>
            <details>
                <summary>Que se passe-t-il si
                    l'expérience est annulée par l'hôte ?</summary>
                <p class="faq-content">Dans le cas rare où une expérience est annulée par l'hôte, nous vous
                    proposerons des options alternatives
                    ou vous fournirons un remboursement intégral de votre réservation, selon vos préférences.</p>
            </details>
        </div>
        <div>
            <details>
                <summary>Est-il sûr de participer à des
                    expériences via cette plateforme ?</summary>
                <p class="faq-content">Oui, la sécurité de nos utilisateurs est notre priorité absolue. Nous
                    travaillons avec des hôtes vérifiés
                    et surveillons continuellement les expériences pour garantir qu'elles répondent à nos normes de
                    qualité
                    et de sécurité.</p>
            </details>
        </div>
        <div>
            <details>
                <summary>Puis-je créer ma propre
                    expérience et la proposer sur la plateforme ?</summary>
                <p class="faq-content">Bien sûr ! Si vous avez une passion ou un talent que vous souhaitez partager
                    avec d'autres personnes,
                    vous pouvez devenir hôte et créer votre propre expérience sur notre plateforme. Contactez-nous
                    pour
                    obtenir plus d'informations sur la façon de commencer.</p>
            </details>
        </div>
        <div>
            <details>
                <summary>Comment puis-je obtenir plus
                    d'informations sur une expérience spécifique ?</summary>
                <p>Si vous avez des questions supplémentaires sur une expérience en particulier, vous pouvez
                    utiliser notre
                    système de messagerie pour communiquer directement avec l'hôte. Ils seront ravis de vous fournir
                    plus de
                    détails et de répondre à toutes vos questions.</p>
            </details>
        </div>
    </div>
    <img src="assets/photo/faq.svg" alt="Imagen" class="faq-image">
</div>